@import 'media-queries';
@import 'typefaces.scss';

.paragraph {
  .subtitle:not(:first-of-type) {
    margin-top: 1.8rem;
  }

  line-height: 1.5;
  width: 100%;
  margin-right: 0;
  font-size: 1.25rem;
  text-align: center;
  padding: 0 1.2rem;
  margin-bottom: 0;
  @include device-WIDER-than(mobile) {
    padding: 0;
    margin: 0;
    width: 50%;
    font-size: 1.13rem;
    text-align: left;
    line-height: 1.15;
  }
}
