@import 'media-queries';
@import 'typefaces';

.main {
  padding-top: 3.1rem;
  @include device-WIDER-than(mobile) {
    background-color: white;
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
  }
}

.header,
.main {
  @include device-WIDER-than(mobile) {
    padding-left: 5.3rem;
    padding-right: 5.3rem;
  }
}
